.header , .hero , .body , .bar , .footer{
	margin-bottom: 20px;
	background-color: pink;
}
.box{
	margin: 10px 0;
	min-height:80px;
	background-color: red;
	font-size: 25px;
	color: white;

}
.red{
	background-color: lime;
}
.five{
	background-color: purple;
}